
<ion-header  translucent>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button routerLink='/' routerLinkActive="router-link-active" ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" >La Estación Tapas & Vinos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-content class="ion-padding">
  <ion-img src="assets/menu-1.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-2.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-3.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-4.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-5.jpg" width="100%" height="100%" ></ion-img>
  <div style="margin: 5%; text-align: center;">

 
  </div>
</ion-content>
