<ion-header>
  <ion-toolbar mode='ios'>
    
    <ion-title>Editar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input [(ngModel)]="Producto.nombre" type="text" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción: </ion-label>
    <ion-input [(ngModel)]="Producto.descripcion" type="text" placeholder="http://imagen"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Imagen Actual: </ion-label>
    <ion-input [(ngModel)]="Producto.imagen" type="text" placeholder="http://imagen" disabled></ion-input>
  </ion-item>
  <ion-item>
    <input style="left: 0px;" type="file" name="inputFile" (change)="chooseFile($event)" require>
  </ion-item>
  <ion-item>
    <ion-label>Precio: </ion-label>
    <ion-input [(ngModel)]="Producto.precio" type="text" placeholder="http://imagen"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio promocion: </ion-label>
    <ion-input [(ngModel)]="Producto.preciop" type="text" ></ion-input>
  </ion-item>
  <!-- <ion-item>
   <ion-label>Estado: </ion-label>
    <ion-select placeholder="Estado" value='Producto.estado'>
      <ion-select-option value="Activo">Activo</ion-select-option>
      <ion-select-option value="Inactivo">Inactivo</ion-select-option>
    </ion-select>
  </ion-item>
-->
  <ion-button (click)="editar()" expand="block" >
    Editar
  </ion-button>
    <ion-button  expand="block" color="danger" [routerLink]="['../..']" routerLinkActive="router-link-active" >
    Cancelar
  </ion-button> 
</ion-content>
